ZMDChecker/.vs/
ZMDChecker/exec/ZHashChecker.exe
ZMDChecker/exec/ZHashChecker.pdb
ZMDChecker/exec/ZHashCheckerD.exe
ZMDChecker/exec/ZHashCheckerD.ilk
ZMDChecker/exec/ZMDChecker.exe
ZMDChecker/exec/ZMDCheckerD.exe
ZMDChecker/exec/ZMDCheckerD.ilk
ZMDChecker/exec/md5Checker.map
ZMDChecker/exec/md5CheckerD.map
ZMDChecker/exec/md5CheckerD.pdb
ZMDChecker/MakeBigTempFile/Debug/MakeBigTempFile.exe
ZMDChecker/MakeBigTempFile/Debug/MakeBigTempFile.ilk
ZMDChecker/MakeBigTempFile/Debug/MakeBigTempFile.pdb
ZMDChecker/MakeBigTempFile/Release/MakeBigTempFile.exe
ZMDChecker/MakeBigTempFile/Release/MakeBigTempFile.pdb
ZMDChecker/ipch
ZMDChecker/obj/
ZMDChecker/md5Checker.sdf
ZMDChecker/md5Checker.vcxproj.user
*.swp
